body {
  background-color: rgb(55, 65, 80);
  font: 400 1.5em/1.15 Avenir;
  color: #979797;
}

.text {
  float: left;
}

.text-1 {
  width: 80%;
  min-height: 111px;
  margin: 75px 0 0 10%;
  font: 700 6em/1.38 Arial;
  text-align: center;
  color: #658cc4;
}

.text-2 {
  position: relative;
  clear: both;
  z-index: 1;
  width: 80%;
  min-height: 128px;
  margin: 58px 0 0 10%;
  font: 1.667em/1.38 Muli;
  text-align: center;
  color: white;
}

.text-3 {
  display: inline-block;
  position: relative;
  clear: both;
  z-index: 4;
  margin: -100px 0 0 39.6666666666%;
  font-size: 0.667em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0,0,0);
}

.text-4 {
  display: inline-block;
  margin: -91px 0 0 44.8333333333%;
  font-size: 0.667em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0,0,0);
}

.text-5 {
  width: 80%;
  min-height: 154px;
  margin: 208px 0 0 10%;
  font-size: 1em;
  font-weight: 400;
  text-align: center;
  color: #979797;
}

@media(max-width: 640px) {
  body {
    font-size: 1.125em;
  }

  .text-1 {
    font-size: 5.333em;
  }

  .text-2 {
    position: relative;
    z-index: 1;
    margin-top: 44px;
    background-color: rgba(0, 0, 0, 0);
    font-size: 1.333em;
    line-height: 1.1;
  }

  .text-3 {
    position: relative;
    z-index: 4;
    margin-top: -20px;
    font-size: 0.889em;
  }

  .text-4 {
    margin-top: -11px;
    margin-left: 4.53125%;
    font-size: 0.889em;
  }

  .text-5 {
    clear: both;
    margin-top: -11px;
    font-size: 18px;
  }
}

@media(max-width: 420px) {
  body {
    font-size: 0.875em;
  }

  .text-1 {
    margin-top: 0;
    font-size: 5.143em;
  }

  .text-2 {
    position: relative;
    z-index: 1;
    font-size: 1.286em;
  }

  .text-3 {
    position: relative;
    z-index: 4;
    margin-top: 76px;
    font-size: 1.143em;
  }

  .text-4 {
    margin-top: 85px;
    margin-left: 4.0476190476%;
    font-size: 1.143em;
  }

  .text-5 {
    margin-top: -107px;
    font-size: 14px;
  }
}